<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tave8.ottu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".OttUApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_ottu"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_ottu_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.OttU">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="oauth"
                    android:scheme="@string/KAKAO_NATIVE_APP_KEY" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".InitialSettingActivity"/>
        <activity android:name=".CommunityActivity"/>
        <activity android:name=".PostActivity"/>
        <activity android:name=".PostingActivity"/>
        <activity android:name=".RecruitActivity"/>
        <activity android:name=".RecruitingActivity"/>
        <activity android:name=".MyOTTActivity"/>
        <activity android:name=".AddMyOTTActivity"/>
        <activity android:name=".MyRecruitActivity"/>
        <activity android:name=".MyCommunityActivity"/>
        <activity android:name=".ChangeNickActivity"/>
        <activity android:name=".ChangeGenreActivity"/>
        <activity android:name=".ChangeKakaoTalkIdActivity"/>

        <service android:name=".NoticeFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_logo" />
    </application>

</manifest>
